.element__delite {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  border: 0;
  padding: 0;
  transition: all 0.2s;
  cursor: pointer;
  background: url(./../../../images/Trash.svg);
}

.element__delite:hover {
  opacity: 0.5;
  transition: all 0.2s;
}

 .element__delite_active{
  display: block;
  visibility: visible;
  opacity: 1;
} 