.profile__avatar {
  height: 120px;
  width: 120px;
  background-color: black;
  transition: all 0.2s;
  cursor: pointer;
  border: 0;
}

@media screen and (max-width: 879px) {
  .profile__avatar{
    height: 127px;
    width: 127px;
    margin-top: 38px;
  }
}

.profile__avatar:hover {
  background: url(./../../../images/Vector.svg) no-repeat center;
  background-blend-mode: multiply;
  text-align: center;
  object-fit: contain;
  z-index: 1;
}
